@using Book.UI.Models    
@model List<CategoryListViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="@Url.Action("Insert","Category")" class="btn btn-success">Kategori Ekle</a>


<table class="table table-bordered">

    <tr>
        <th>Kategori ID</th>
        <th>Kategori AD</th>
        <th>Güncelle</th>
        <th>Durum</th>
        <th>IsActive</th>
        
    </tr>

    @foreach (CategoryListViewModel cat in Model)
    {
        <tr>
            <td>@cat.CategoryId</td>
            <td>@cat.Name</td>
            <td><a href="@Url.Action("Update","Category",new { @id=cat.CategoryId})" class="btn btn-success">Güncelle</a></td>
            <td>
                @if (cat.IsActive)
                {
                    <h3 class="label-primary">Aktif</h3>
                }
                else
                {
                    <h3 class="label-warning">Pasif</h3>
                }
            </td>

            <td>
                @if (cat.IsActive)
                {
                    <a href="@Url.Action("ActiveOrPassive","Category",new { @id=cat.CategoryId})" class="btn btn-success">Aktif</a>
                }
                else
                {
                    <a href="@Url.Action("ActiveOrPassive","Category",new { @id=cat.CategoryId})" class="btn btn-danger">Pasif</a>
                }
            </td>
        </tr>
    }

</table>